*.eggs
*.egg-info
*.pyc
*.swp
*~
build
dist
python_solidfireclient.egg-info
solidfireclient/versioninfo
.tox
venv
.venv
.idea
python3
python32
connections.csv
element/cli/commands/*.md
element/cli/commands/*.txt
